###Template
DB_URL=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=
GOOGLE_EMAIL_USERNAME=
GOOGLE_EMAIL_PASSWORD=
CLIENT_ID_GOOGLE=
CLIENT_SECRET_GOOGLE=
CLIENT_ID_GITHUB=
CLIENT_SECRET_GITHUB=
AUTHORIZED_REDIRECT_URI=
THREAD_SLEEP=
TOPCV_TARGET=
LINKEDIN_TARGET=